{
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}